{% load static %}
<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'mycv/style.css' %}">
    <title>{{ cv.name }} - CV</title>
</head>

<body>
    <div class="language-switcher a">
        <!-- If current page is English CV, show link to German CV, and vice versa -->
        {% if request.resolver_match.url_name == "cv_view_german" %}
            <a href="{% url 'cv_view' %}">English</a> 
        {% else %}
            <a href="{% url 'cv_view_german' %}">Deutsch</a>
        {% endif %}
    </div>

    <div class="cv-container">
        <div class="header">
            {% if cv.picture %}
            <img src="{{ cv.picture.url }}" alt="{{ cv.name }}" class="profile-picture">
            {% endif %}
            <div class="name-contact">
                <h1>{{ cv.name }}</h1>
                <p>Email: {{ cv.email }}</p>
                <p>Phone: {{ cv.phone }}</p>
            </div>
        </div>

        <div class="section">
            <h2>Über Mich</h2>
            <p>{{ cv.about_me|linebreaks  }}</p>
        </div>

        <div class="section">
            <h2>Fähigkeiten</h2>
            <p>{{ cv.skills|linebreaks  }}</p>
        </div>
        
        <div class="section">
            <h2>Ausbildung</h2>
            <p>{{ cv.education|linebreaks }}</p>
        </div>
        
        <div class="section">
            <h2>Berufserfahrung</h2>
            <p>{{ cv.work_experience|linebreaks }}</p>
        </div>
        
        <div class="section">
            <h2>Soziale Netzwerke</h2>
            <a href="{{ cv.linkedin_link }}">{{ cv.linkedin_link }}</a><br>
            <a href="{{ cv.github_link }}">{{ cv.github_link }}</a>
        </div>
    </div>
</body>
</html>
